################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/~$VendorRisk_Attributes.xlsx
/CyberSecurityExceptionsDiff_Pre.xlsx
/CyberSecurityExceptionsDiff_Post.xlsx
/~$CyberSecurityExceptionsDiff_Pre.xlsx
/SecurityExceptionsComp.csv
/~$SecurityExceptions_DataComparison_QA.xlsx
/SecurityExceptions_DataComparison_QA.xlsx
/GSIBPhysicalAccessKnownExceptions_DataComparison_QA.xlsx
/GSIBPhysicalAccessKnownExceptions_DataComparison_UAT.xlsx
/GSSecurityExceptions_DataComparison_UAT.xlsx
/GSSecurityExceptions_DataComparison_QA.xlsx
/GSSecurityExceptions_DataComparison_STG.xlsx
