################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/~$VendorRisk_Attributes.xlsx
/CyberSecurityExceptionsDiff_Pre.xlsx
/CyberSecurityExceptionsDiff_Post.xlsx
/~$CyberSecurityExceptionsDiff_Pre.xlsx
